main {
    width: 100%;
    top: 0px;
    bottom: 0px;
    margin-bottom: 200px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    color: #397F77;
    font: normal normal normal calc(0.4em + 0.6vw) worksans-extralight,"work sans",sans-serif;
    border: 1px solid #015450;
}

article{
    flex: 50%;
    display: flex;
    flex-direction: column;
    padding: 1%;

 
}

h1 {
    font: normal normal normal 36px/1.25em worksans-extralight, 'work sans', sans-serif;
    letter-spacing: normal;
    text-align: center;
    line-height: 1.25em;
    color: #32405d;
    margin: 0;
    padding: 0;
    background: transparent;
    font-weight: 300;
}

h2{
    word-wrap: break-word;
    font: normal normal normal 28px/1.67em worksans-extralight,'work sans',sans-serif;
    pointer-events: auto;
    letter-spacing: normal;
    text-align: center;
    line-height: 1.67em;
    color: #03aaee;
    vertical-align: baseline;
    font-weight: 300;
    margin: 30px;
}

p{

    vertical-align: baseline;
    background: transparent;
    font: normal normal normal 19px/1.875em proxima-n-w01-reg,proxima-n-w05-reg,sans-serif;
    color: #12a9a5;
    letter-spacing: normal;
    text-align: center;
    line-height: 1.875em;
}

img{
    flex: 50%;
    width:50%;
    height:auto;
    object-fit: fill;
}

@media  screen and (max-width: 1300px) {
    main{
        flex-direction: column;
    }
    img{
        width:100%;
        height:auto;
        object-fit: fill;
    }
}