main{
    text-align: -webkit-center;
}


.row{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #397F77;
    font: normal normal normal calc(0.4em + 0.6vw) worksans-extralight,"work sans",sans-serif;
    cursor: pointer;
    border: 1px solid #6c757d;
    border-radius: 8px;
    margin: 1%;
}

.image-left{
    flex: 50%;
}
.image-left img{
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.description-right{
    flex: 50%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}
.description-title{
    color: #6c757d;
    vertical-align: baseline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    font: normal normal normal calc(0.6em + 0.8vw) worksans-extralight,"work sans",sans-serif;
    margin-bottom: 10%;
}
.description-subtitle{
    color:#6c757d;
}